<div style="height: 100vh;">
  <div class="text-center d-flex" style="margin-top: 40px; margin-left: 400px;">
    <i class="fas fa-user-plus fa-2x me-2" style="color: #8f00ff;"></i>
    <h3 class="fw-bold text-center" style="color: #8f00ff; font-family: regularfont;">New Student Registration</h3>
  </div>






  <form [formGroup]="myValidation" style="margin-top: 50px; margin-left: 150px; margin-bottom: 200px;">
    <div class="form-group mt-4" style="width: 900px;">
      <label class="fw-bold fs-4 mb-2" for="name" style="font-family: boldfont;">Name:</label>
      <input #name formControlName="name" id="name" type="text" name="name" class="form-control">
    </div>
    <div class="alert alert-danger" *ngIf="myValidation.controls.name.touched && myValidation.controls.name.invalid">
      <ng-container *ngIf="myValidation.controls.name.hasError('required')">
        Name is required.
      </ng-container>
      <ng-container *ngIf="myValidation.controls.name.hasError('pattern')">
        Name must consist of letters only.
      </ng-container>
      <ng-container *ngIf="myValidation.controls.name.hasError('minlength')">
        Name must be at least 3 characters long.
      </ng-container>
      <ng-container *ngIf="myValidation.controls.name.hasError('maxlength')">
        Name cannot exceed 30 characters.
      </ng-container>
    </div>

    <div class="form-group mt-4" style="width: 900px;">
      <label class="fw-bold fs-4 mb-2" for="age" style="font-family: boldfont;">Age:</label>
      <input #age formControlName="age" id="age" type="number" name="age" class="form-control">
    </div>

    <div class="alert alert-danger" *ngIf="myValidation.controls.age.touched && myValidation.controls.age.invalid">
      <ng-container *ngIf="myValidation.controls.age.hasError('min') || myValidation.controls.age.hasError('max')">
          Age must be between 17 and 30.
      </ng-container>
      <ng-container *ngIf="myValidation.controls.age.hasError('required')">
        Age is required.
      </ng-container>
    </div>

    <div class="form-group mt-4" style="width: 900px;">
      <label class="fw-bold fs-4 mb-2" for="em" style="font-family: boldfont;">Email</label>
      <input #email formControlName="email" id="em" type="email" name="email" class="form-control">
    </div>
    <div class="alert alert-danger" *ngIf="myValidation.controls.email.touched && myValidation.controls.email.invalid">
      <!-- <ng-container *ngIf="myValidation.controls.email.hasError('required')">
        Email is required.
      </ng-container> -->
      <ng-container *ngIf="myValidation.controls.email.hasError('email')">
        Invalid email format.
      </ng-container>
      <ng-container *ngIf="myValidation.controls.email.hasError('required')">
        Email is required.
      </ng-container>
    </div>

    <input
      class="btn"
      style="background-color: #6159e6; border: 2px solid #e0e9ff; border-radius: 10px; width: 150px; margin-top: 50px; margin-left: 600px; font-family: regularfont;"
      class="p-2 fs-4 text-light"
      type="button"
      (click)="addStd(name.value, email.value, age.value)"
      value="Add Student"
    >
  </form>
</div>
