<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container  style="height: 730px; background-color:rgba(238,243,255,255);">
  <mat-sidenav mode="side" opened>

      <h1 class="text ms-4 mb-5 fw-bold mt-5 text fs-3">
        Campus<span style="color:#6159e6" class="text fw-bold">.me</span>
      </h1>

        <a style="background-color: #6159e6;" routerLink="/add" class=" ms-4 btn btn-primary btn-outline-dark text-light fw-bold text-center w-75">+ Add new</a>


        <a style="color: #6159e6;  display: block; font-weight: bold; margin-top:50px;" class="fs-5" routerLink="/">Dashboard</a>


  </mat-sidenav>

</mat-sidenav-container>
