<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container  style="height: 100%; background-color:rgba(238,243,255,255); border-radius: 20px 20px 0px 0; overflow: hidden; " class="full-height ps-3">
  <mat-sidenav mode="side"  opened>

      <h1 class="text ms-4 mb-5 fw-bold mt-5 text fs-3">
        Campus<span style="color:#6159e6" class="text fw-bold">.me</span>
      </h1>

        <a style="background-color: #6159e6; font-family:regularfont" routerLink="/add" class=" ms-4 btn btn-primary btn-outline-dark text-light fw-bold text-center w-75">+ Add new</a>

<div style="display:flex; border-bottom:1px solid lightgrey;  padding:5px" class="mt-4">
  <i class="fa-solid fa-tachometer fa-2x me-2" style="color: #6159e6;"></i>

  <a style="color: #6159e6; font-family:regularfont; display: block; font-weight: bold; text-decoration:none" class="fs-4 " routerLink="/">Dashboard</a>
</div>


  </mat-sidenav>

</mat-sidenav-container>








