/* {
  background: linear-gradient(#2AC7EA,white);
}
 */
.container {
  display: flex;
margin:0;
}
.full-height {
  display: flex;
  flex-direction: column;
}
.sidebar {
  width: 20%;
  /* Add additional styling as needed */
}
