<div  class="w-75 p-3  d-flex flex-row justify-content-between  mt-5 rounded text-center " style="margin-left:140px; box-shadow: 0 2px 4px #c9cbfc; background-color:#f3f2fd; ">
  <!-- <h1 class="">Dashboard</h1> -->
  <div class="row">


<div class="d-flex flex-row d-flex justify-content-start" >
  <div style="margin-left: 80px; " class=" fw-bold" #id>
   <span class="me-2 " style='font-family: boldfont;'>ID:</span>   <span >{{ stdData.id }} </span>
  </div>

  <div style="margin-left: 107px; " class="fw-bold"  #name>
    <span class="me-2" style='font-family: boldfont;' >Name: </span> <span style="font-family: regularfont"> {{ stdData.name }}</span>
  </div>
</div>


<div class="d-flex flex-row d-flex justify-content-start">
  <div style="margin-left: 80px;"  class="fw-bold"  #age>
    <span class="me-2" style='font-family: boldfont;'> Age:</span> <span > {{ stdData.age }} </span>
  </div>

  <div  style="margin-left: 85px;" class="fw-bold mb-2" #email >
    <span class="me-2" style='font-family: boldfont;'> Email: </span> <a style='color:inherit ' routerLink="/students/{{ stdData.id }}" routerLinkActive="router-link-active"> <span style="font-family: regularfont; color:black; text-decoration:none">
      {{ stdData.email }}
    </span></a>
  </div>
</div>

</div>
  <input type="button" value="Delete" (click)="deleteItem(id)" class="mt-2 btn text-light fw-bold" style="background-color:
  #f96879; height:40px; font-family:regularfont">
  <!-- <input type="button" value="Update" (click)="RedirectTo()"> -->
   <a routerLink="/update/{{stdData.id}}" routerLinkActive="router-link-active" class="btn text-light fw-bold" style="background-color:#6159e6; margin-top:9px; margin-left:20px;  height:40px; width:100px; font-family:regularfont;">Update</a>

</div>


